<div fxLayout="column" fxLayoutAlign="start center" class="mat-body-1" *ngIf="authService.userData as user">
    <section class="mat-h2">
        <p><mark> We have sent a confirmation email to <strong>{{ user.email }}</strong> when you signed up!</mark></p>
        <p><mark>Please check your email and click on the link to verfiy your email
            address. If you haven't received any emails, please check your spam folder, or click
        <button (click)="authService.SendVerificationMail()" mat-raised-button>Resend Verification Email</button>
        <p>Or, you can just 
            <button (click)="authService.SignOut()" mat-raised-button>Logout</button> 
            if you want
        </p>
        <p><mark>Please come back to this page once you verify your email!
                 This page automatically will notice your verification.
        </mark></p>
        </mark>
        </p>
    </section>
</div>