<h2 mat-dialog-title>{{opportunity?.position}}</h2>
<mat-dialog-content class="mat-typography">

  <b>Job Overview</b>
  <p>
    {{opportunity?.job_overview}}
  </p>

  <b>Qualifications</b>
  <p>{{opportunity?.qualifications}}</p>

  <b>Period</b>
  <p>
    {{opportunity?.period}}
  </p>

  <b>Monthly Salary</b>
  <p>{{opportunity?.monthly_salary}}</p>

  <b>Working location</b>
  <p>{{opportunity?.working_location}}
  </p>

  <b>Other (required skills etc)</b>
  <p>
   {{opportunity?.other}} </p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click) = "challenge()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Challenge</button>
</mat-dialog-actions>
