<h2 mat-dialog-title>An Internship Opportunity from {{company.name}}</h2>
<mat-dialog-content class="mat-typography">

  <b>Company Description</b>
  <p>We are a Singaporean company that invests, incubates and accelerates 
    startups, primarily in the Web 3.0 space, founded in 2022 by a 
    founding team experienced in venture investing that has 
    discovered multiple decacorn and unicorn companies.
  </p>

  <b>Our Business</b>
  <p>
    - Support for the launch of Web 3.0 projects, incubation, acceleration, and investment in Web 3.0 projects.
    <br>
    - General administration works
  </p>

  <b>Job Overview</b>
  <p>
    - Market research, analysis and potential deal discovery in Web 3.0 industry
   <br>
    - General administration works
  </p>

  <b>Qualifications</b>
  <p>Student internship (university and high school students)</p>

  <b>Period</b>
  <p>
    - Summer internship (1 to 2 months in summer 2022)
    <br>
    - Short & mid-term internship (6 months, 1 year, etc, negotiable)
  </p>

  <b>Monthly Salary</b>
  <p>3,000SGD (with incentives)</p>

  <b>Working location</b>
  <p>MRT Raffles Place Station
    <br>
    *Mainly WFH with occasional office meetings
  </p>

  <b>Other (required skills etc)</b>
  <p>
    - Language: English (other languages such as Japanese are a plus)
    <br>
- PC skills: Windows Office, Email, Phone calling, Documentation, Adobe Illustrator is a plus
<br>
- Personality: Proactive, active, verbal communication, problem solving, quality focus, eager to learn new technology such as Web3.0 industry etc
  </p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Challenge</button>
</mat-dialog-actions>
