<h2 mat-dialog-title>Edit opportunity</h2>
<mat-dialog-content class="mat-typography form-container">
    <form [formGroup]="editOpportunityForm" (ngSubmit)="editOpportunity()" id="edit-form">

        <mat-form-field>
        <input matInput placeholder="Position" formControlName="position" name="position"/>
        <mat-hint>Position name cannot be changed after it's once set!</mat-hint>
        <mat-error *ngIf="position?.errors?.['required']">
            Position is required
        </mat-error>
        </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Job Overview" formControlName="job_overview" name="job_overview">
        </textarea>
        <mat-error *ngIf="job_overview?.errors?.['required']">
          Job overview is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <textarea matInput placeholder="Qualifications" formControlName="qualifications" name="qualifications">
        </textarea>
        <mat-error *ngIf="qualifications?.errors?.['required']">
        Qualifications is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Period" formControlName="period" name="period">
        </textarea>
        <mat-error *ngIf="period?.errors?.['required']">
          Period is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Monthly salary" formControlName="monthly_salary" name="monthly_salary"/>
        <mat-error *ngIf="monthly_salary?.errors?.['required']">
          Monthly salary is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Working Location" formControlName="working_location" name="working_location">
        </textarea>
        <mat-error *ngIf="working_location?.errors?.['required']">
          Working Location is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Other" formControlName="other" name="other">
        </textarea>
    </mat-form-field>

</form>


</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close form="edit-form">Cancel</button>
    <button [disabled]="!editOpportunityForm.valid" mat-button [mat-dialog-close]="true" type="submit" form="edit-form">Edit</button>
</mat-dialog-actions>