<div fxLayout="column" fxLayoutAlign="start center" class="mat-body-1">
    <section class="mat-h2">
        <h1><mark>Who we are.</mark></h1>
        <p><mark>We are an international team based in Singapore. Through our conversations and interactions with many Singaporeans, we realized that there is a large group of local students who are very passionate and interested to find out more about the work culture of Japanese companies.</mark></p>
        <h1><mark>Our aim.</mark></h1>
        <p><mark>We aim to be the bridge linking local students to Japanese Companies offering internship opportunities. We hope to bridge the gap by showing local students the inner workings and work cultures of Japanese companies. In this era of globalization, we want to provide the opportunities for interested parties to gain the edge by accumulating firsthand work experience with our Japanese partners.</mark></p>
        <h1><mark>Our partners.</mark></h1>
        <p><mark>In order to create a more diverse working environment and develop a stronger understanding of the multicultural backdrop of Singapore, our Japanese partners are more than excited to link up with local students to develop a novel and unique work synergy.</mark></p>
    </section>
</div>