<div class="form-container mat-elevation-z5">
    <form [formGroup]="signUpForm" (ngSubmit)="signup()">


        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" name="name" />
            <mat-error *ngIf="name?.errors?.['required']">
                Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" name="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                Please enter a correct email format
            </mat-error>

        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" />
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field style="padding-bottom: 1%;">
            <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" />
            <mat-error *ngIf="confirmPassword?.errors?.['required']">
                Confirm Password is required
            </mat-error>
        </mat-form-field>

        <div style="padding-bottom: 5%; font-size: 120%;">
            <mat-error *ngIf="signUpForm?.errors?.['passwordsDontMatch']">
                Passwords should match
            </mat-error>
        </div>

        <mat-select-country appearance="outline" style="width: 300%;" label="Nationality" formControlName="nationality" name="nationality" (onCountrySelected)="onCountrySelected($event)" loadingDB="true" [value]="defaultNationality">
        </mat-select-country>
        <mat-error *ngIf="nationality?.errors?.['required']">
            Nationality is required.
        </mat-error>
        <!-- 
    <mat-form-field  style="padding-top: 5%;">
        <input matInput placeholder="Date of birth" formControlName="dateOfBirth" name="dateOfBirth" type=date/>
        <mat-error *ngIf="password?.errors?.['required']">
          Date of birth is required.
        </mat-error>
      </mat-form-field> -->

        <mat-form-field appearance="fill" style="padding-top: 5%;">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" name="dateOfBirth">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateOfBirth?.errors?.['required']">
                Date of birth is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" name="gender">
                <mat-option value="female">Female</mat-option>
                <mat-option value="male">Male</mat-option>
                <mat-option value="neutral">Neutral</mat-option>
                <mat-option value="secret">Prefer not to say</mat-option>
            </mat-select>
            <mat-error *ngIf="gender?.hasError('required')">Gender is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Name of University" formControlName="nameOfUniversity" name="nameOfUniversity" />
            <mat-error *ngIf="nameOfUniversity?.errors?.['required']">
                Name of university is required
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
        <input matInput placeholder="Graduation Period" formControlName="graduationPeriod" name="graduationPeriod" type="month"/>
        <mat-error *ngIf="graduationPeriod?.errors?.['required']">
           Graduation period is required.
        </mat-error>
      </mat-form-field> -->

        <mat-form-field appearance="fill">
            <mat-label>Graduation Period</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="graduationPeriod" name="graduationPeriod">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="graduationPeriod?.errors?.['required']">
                Graduation Period is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Year of study</mat-label>
            <mat-select formControlName="yearOfStudy" name="yearOfStudy">
                <mat-option value="1">Year 1</mat-option>
                <mat-option value="2">Year 2</mat-option>
                <mat-option value="3">Year 3</mat-option>
                <mat-option value="4">Year 4</mat-option>
                <mat-option value="5">Year 5 or higher</mat-option>
            </mat-select>
            <mat-error *ngIf="yearOfStudy?.hasError('required')">Year of study is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Faculty/Major" formControlName="major" name="major" />
        </mat-form-field>

        <mat-form-field style="font-size: 2.5vh;">
            <input matInput placeholder="Japanese Proficiency (e.g. JLPT N1-5 etc.)" formControlName="japaneseProficiency" name="japaneseProficiency">
            <mat-error *ngIf="japaneseProficiency?.errors?.['required']">
                Japanese Proficiency is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="font-size: 2vh;">
            <mat-label>Where would you like to work in the future?</mat-label>
            <mat-select panelClass="futureWorkplace" formControlName="futureWorkplace" name="futureWorkplace" multiple>
                <mat-option value="Japan">Japan</mat-option>
                <mat-option value="America">America</mat-option>
                <mat-option value="Singapore">Singapore</mat-option>
                <mat-option value="etc.">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="futureWorkplace?.hasError('required')">Future workplace is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>What are you looking for?</mat-label>
            <mat-select formControlName="jobType" name="jobType" multiple>
                <mat-option value="internship">Internship</mat-option>
                <mat-option value="job offer">Job Offer</mat-option>
            </mat-select>
            <mat-error *ngIf="jobType?.hasError('required')">Job type is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Industries you are interested in (Multiple choice)</mat-label>
            <mat-select panelClass="industryField" formControlName="industryField" name="industryField" multiple>
                <mat-option value="consulting">Consulting</mat-option>
                <mat-option value="manufacturing company">Manufacturing Company</mat-option>
                <mat-option value="IT">IT</mat-option>
                <mat-option value="food industry">Food Industry</mat-option>
                <mat-option value="media">Media</mat-option>
                <mat-option value="banking">Banking/Financial Industry</mat-option>
                <mat-option value="real estate">Real Estate</mat-option>
                <mat-option value="employment agency">Employment Agency</mat-option>
                <mat-option value="advertising agency">Advertising Agency</mat-option>
                <mat-option value="npo">NPO/NGO</mat-option>
                <mat-option value="etc">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="industryField?.hasError('required')">Please choose at least one</mat-error>
        </mat-form-field>

        <!-- <mat-form-field  style="font-size: 2vh;">
        <input matInput placeholder="Why are you looking for job opportunity at
         a Japanese company?" formControlName="reason" name="reason">
        <mat-error *ngIf="reason?.errors?.['required']">
          Reason is required
        </mat-error>
      </mat-form-field>

      <mat-form-field style="font-size: 1.5vh;">
        <input matInput placeholder="What do you expect from working at a Japanese 
         company?" formControlName="expectation" name="expectation">
        <mat-error *ngIf="expectation?.errors?.['required']">
          Expectation is required
        </mat-error>
      </mat-form-field>

      <mat-form-field style="font-size: 1.5vh;">
        <input matInput placeholder="What makes you stand out? (Skills, Certificate, Experience etc)" formControlName="standOut" name="standOut"/>
      </mat-form-field> -->
  
        <mat-checkbox formControlName="pdpaConsent" name="pdpaConsent" required>
            By ticking this box, I agree and consent to 
            <a href = "https://www.docdroid.net/file/download/7MieUoo/jlink-pdpa-pdf.pdf" target="_blank"> PDPA </a> 
        </mat-checkbox>
        <mat-error *ngIf="pdpaConsent?.hasError('required')">You must agree with PDPA to sign up!</mat-error>
       

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">
        Sign up
      </button>
        </div>
    </form>
</div>