@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');

mat-card {
    min-width: 42vw;
    margin-bottom: 5vh;
}

mat-card-title {
    text-align: center;
}

mat-card-subtitle {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Finlandica', sans-serif;
}

.slogan {
    font-family: 'Finlandica', sans-serif;
    text-align: center;
    margin-bottom: 3%;
    font-weight: bold;
}

.description {
    text-align: center;
    font-family: 'Finlandica', sans-serif;
}

img {
    height: auto;
    width: 10%;
    margin: auto;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.mat-card-title {
    font-size: 200%;
    font-weight: bold;
    margin-top: 20px;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}

mat-card-actions {
    text-align: center;
}

#check {
    color: red; 
    text-decoration: underline; 
    font-family: 'Baskerville', serif;
    text-align: center;
    font-family: 'Finlandica', sans-serif;
}