<mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{company.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image style="height: 100px; width: fit-content; display: block; margin-left: auto; margin-right: auto;" src={{company.img}}>
    <mat-card-content>
      <p>
        {{company.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="openCompanyDetails()">Check Opportunities</button>
    </mat-card-actions>
  </mat-card>