@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
:host {
    display: flex;
    height: 100;
    width: 100%;
}

mat-card {
    border-color: black;
    border-width: thick;
    border-radius: 4px;
    position: relative;
    width: 30vw;
    margin: auto;
    margin-bottom: 50px;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

img {
    margin-right: 5px;
}

mat-card-title {
    text-align: center;
    display: inline-block;
}

mat-card-title p {
    height: 50px;
    width: auto;
    font-size: 2vh;
    white-space: nowrap;
    overflow: hidden;
}

mat-card-title p img {
    height: 50px;
    width: auto;
}

mat-card-subtitle {
    text-align: center;
    font-weight: bold;
    font-family: 'Finlandica', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 4rem;
}

mat-card-content {
    display: flex;
    height: 25vh;
}

.application_headline {
    font-family: 'Finlandica', sans-serif;
    text-align: center;
    padding: 2vh 2vw;
    margin-bottom: 4vh;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.profile {
    text-align: center;
    font-family: 'Finlandica', sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 0 1vw;
    -webkit-line-clamp: 5;
    font-size: 1.1rem;
    overflow: hidden;
    // text-overflow: ellipsis;
}

#check {
    color: red;
    text-align: center;
    font-family: 'Finlandica', sans-serif;
    width: 50%;
    padding: 0;
    margin: auto;
    margin-top: 1vh;
    font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
     :host {
        display: flex;
        height: 100;
        width: 100%;
    }
    mat-card {
        border-color: black;
        border-width: thick;
        border-radius: 4px;
        position: relative;
        width: 90vw;
        margin: auto;
        margin-bottom: 50px;
    }
    mat-card-title {
        text-align: center;
        display: inline-block;
    }
    mat-card-title p {
        height: 50px;
        width: auto;
        font-size: 2vh;
        white-space: nowrap;
        overflow: hidden;
    }
    mat-card-title p img {
        height: 50px;
        width: auto;
    }
    mat-card-subtitle {
        text-align: center;
        font-weight: bold;
        font-family: 'Finlandica', sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    mat-card-content {
        display: flex;
        height: 60vw;
    }
    .application_headline {
        font-family: 'Finlandica', sans-serif;
        text-align: center;
        padding: 1vh 2vw;
        margin-bottom: 4vh;
        font-weight: bold;
        font-size: 1rem;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vw;
    }
    .profile {
        text-align: center;
        font-family: 'Finlandica', sans-serif;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding: 0 1vw;
        // -webkit-line-clamp: 5;
        font-size: 0.9rem;
        overflow: hidden;
        // text-overflow: ellipsis;
    }
    #check {
        color: red;
        text-decoration: underline;
        font-family: 'Baskerville', serif;
        text-align: center;
        margin: auto;
        font-family: 'Finlandica', sans-serif;
        font-size: 1rem;
        margin: 1vh auto 0 auto;
    }
}