<mat-card>
        <mat-card-title>  
            <p><img src="{{company.img}}" alt="Image not supported!" > {{company.name}}</p>
        </mat-card-title>
        <mat-card-subtitle>	
            Research Analyst Internship/Marketing Internship
        </mat-card-subtitle>
    <mat-card-content>
        <div class="slogan">
        "{{company.slogan}}"        
        </div>
        <div class="description">
            {{company.description}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button id="check" (click)="openOpportunities()">Check Opportunities ▷</button>
        <ng-container *ngIf="this.authService.isAdmin">
        <button mat-raised-button (click)="openEditDialog()" color="primary" style="margin-top: 14px;">Edit Company</button>
        <button mat-raised-button (click)="openDeleteAskDialog()" color="warn">Delete Company</button>
        </ng-container>
        </mat-card-actions>
</mat-card>
