// mat-card {
//     margin-left: none;
// }
img {
    height: 100px;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 10px;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.mat-card-title {
    font-size: 200%;
    font-weight: bold;
    margin-top: 20px;
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}