<div class="form-container">
<form [formGroup]="loginForm">
  <mat-form-field>
    <input matInput placeholder="Email address" formControlName="email"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" type="password"/>
  </mat-form-field>
  <div class="center margin-top">
  <button mat-raised-button color="primary" type="submit">
    Login
  </button>
</div>
  <span class="center margin-top welcome">Are you new to JSIP?<a class="sign-up-link" routerLink="sign-up">Sign up!</a></span> 
</form>
</div>