button {
    margin-bottom: 20px;
}

#container {
    width: 30vw;
    margin: 10px;
    margin-right: 10px !important;
    padding: 0;
}

// app-company-card {
//     margin: 0;
//     width: 50%;
//     margin: 10px;
//     margin-right: 10px !important;
//     padding: 0;
// }
// mat-card {
//     width: 50%;
// }