button {
    margin-bottom: 20px;
}

#container {
    min-width: 70vw !important;
    width: 70vw !important;
    margin: auto !important;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    #container {
        min-width: 90vw !important;
        width: 90vw !important;
        margin: auto !important;
        padding: 0;
    }
}