<ng-container *ngIf="this.authService.isAdmin">
<button (click)="openCompanyAddDialog()" color="warn">Add a new company</button>
</ng-container>

<div class="container" fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="space-between stretch" >  
<div fxFlex="48"  fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let company of companies" style="padding-right:1vw;">
<app-company-card style="padding-bottom: 3vh; padding-top: 2vh;" fxFlex [refreshCompanies]="this.getCompanies.bind(this)"  [company]="company"></app-company-card>
</div>
</div>
