.opportunities:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}

.opportunities {
    text-decoration: underline;
}

mat-list-item button {
}