.active-route {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.menus {
    font-size: 100%;
}

img {
    width: 20vmin;
    height: auto;
}

img:hover {
    cursor: pointer;
}

#navbar {
    background-color: white;
    width: fit-content;
    float: right;
    position: absolute;
    top: 40px;
    right: 10px
}

.welcome {
    margin-bottom: 15%;
    margin-left: 5%;
    font-size: 200%;
}

.mat-button {
    margin: 0 5px
}

.mat-button:hover {
    color: black;
}

.mat-button-toggle-checked {
    background-color: white;
    text-decoration: underline;
}