/* FUTURE:
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
*/

@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// import font
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Open+Sans:wght@800&family=Ubuntu:ital,wght@1,300&display=swap');

.mat-toolbar.mat-warn {
    background: rgb(255, 252, 245);
    color: rgb(0, 0, 0);
  }
